<!DOCTYPE HTML>
<!--
	Projeto Meta
    Ferramenta de painel de exibição de dados analiticos
	Administração de Dados - Setor de Informática 
    Tribunal de Justiça do Estado do Ceará 
	Uso livre para orgão públicos.
-->
<html lang="pt-br">
	<head>
		<title>Projeto Meta - Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Meta</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Principal</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="elements.html">Equipe</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Meta</h2>
							<p>DashBoard<br />
							Justiça em Números<br />
							desenvolvido no <a href="http://html5up.net">setor de Administração de Dados - SETIN/TJCE</a>.</p>
							<ul class="actions">
								<li><a href="http://10.1.2.187/dashboad" class="button special">Acessar</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Saiba Mais</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Transforme os dados e a análise<br />
								em uma vantagem competitiva</h2>
								<p>Três coisas que você deve fazer...<br />
								para transformar seu negócio com ferramentas de analises inteligentes.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Construir uma cultura para difundir a análise em todas as áreas da empresa. Permitir que todos os funcionários tomem decisões baseadas em dados, ao invés de confiar no instinto e em experiências prévias.</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/bi01.jpg" alt="" /></div><div class="content">
								<h2>Otimize operações e combata<br />
								a inconsistências e as ameaças</h2>
                            <p>Seus processos e sistemas operacionais atingem a máxima eficiência?</br> 
Você poderia reduzir as perdas e a inconsistênca se pudesse ver o seu negócio em tempo real?</p>
                                <p>Adotar uma estratégia utilizando Dashboard pode ajudar você a planejar e administrar melhor as operações, as cadeias de suprimento e o uso de ativos de infraestrutura. Obtenha os conhecimentos necessários para reduzir custos, aumentar a eficiência, a produtividade, e limitar as ameaças.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/bi02.jpg" alt="" /></div><div class="content">
								<h2>Transforme os processos<br />
								 de administração</h2>
								<p>Você tem acesso em tempo real a informação confiável sobre todos os aspectos de seu negócio?</br> 
Você tem a visão, o insight e o controle para medir o seu desempenho financeiro, monitorar e definir melhor seus resultados de negócio?</p>
                                <p>Analisar todos os seus dados, pode impulsionar a agilidade empresarial e lhe fornecer os conhecimentos necessários para tomar melhores decisões sobre a estratégia de negócio e o gerenciamento do capital humano.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/bi03.jpg" alt="" /></div><div class="content">
								<h2>Gerencie o risco</h2>
								<p>Como você pode mitigar riscos financeiros e operacionais que poderiam ser devastadores para sua organização?</br>
                                Como você pode gerenciar a mudança regulatória e reduzir o risco de não-conformidade normativa? </p>
				                <p>Identificar, entender e gerenciar de forma proativa o risco financeiro e operacional pode permitir uma tomada de decisão mais consciente e mais segura.</p>
                            </div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Utilizando a nossa ferramenta Meta DashDoard</h2>
								<p>Maximize a visão, garanta a confiança e melhore a economia.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Otimização de processos de negócio</h3>
									<p>Aumente as margens operacionais com uma melhor eficiência de processos baseada em decisões de tempo real em uma combinação otimizada de modelos preditivos, novas fontes de dados e regras de negócio.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Combata a inconsistência</h3>
									<p>Identifique atividades fraudulentas, crimes financeiros e pagamentos indevidos, e determine ações apropriadas para mitigar estes eventos com a intenção de reduzir perdas e melhorar a experiência dos clientes.</p>
								</li>
								<li class="icon fa-code">
									<h3>Segurança pública e defesa</h3>
									<p>Antecipe-se às ameaças e os riscos, descubra padrões delitivos e fatores disparadores, derive e utilize novos insights para tomar melhores decisões, resolver problemas proativamente e administrar os recursos com eficiência.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Planeje e administre o desempenho</h3>
									<p>Gere planos e previsões sobre a base de tendências históricas e predições futuras, enquanto alinha recursos com oportunidades de lucro e crescimento.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Administração do capital humano</h3>
									<p>Alavanque os dados para levar ao máximo a produtividade e satisfação do pessoal, e para atrair e reter os melhores funcionários.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Risco financeiro</h3>
									<p>Compreenda o impacto potencial dos riscos financeiros, habilitando a tomada de decisões estratégicas mais consciente do risco.</p>
								</li>
							</ul>
						</div>
					</section>
                    
                    <section id="four" class="wrapper">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12">
                              <h3 class="text-center">Equipe de Desenvolvimento e Apoiadores</h3>
                              <p>
                                Aqui trabalhamos com amor, consciência, disciplina e comprometimento. As soluções surgem quando unimos nossos ideais à tecnologia.
                              </p>
                              <ul class="timeline">
                                <li>
                                  <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="images/fotocc.png" alt="">
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 style="color:white">Carlos Cruz</h4>
                                      <h4 class="subheading">Terceirizado</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="line"></div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="images/fotofl.jpg" alt="">
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 style="color:white">Fabio Lenine</h4>
                                      <h4 class="subheading">Terceirizado</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p class="text-muted">
                                        Especialista em banco de dados, bigdata, business intelligence,  migração de dados e machine learning, com 9 anos de experiência. Atualmente trabalha com Administração de Dados. 
                                      </p>
                                    </div>
                                  </div>
                                  <div class="line"></div>
                                </li>
                                <li>
                                  <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="images/fotojo.png" alt="">
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 style="color:white">Jonatas Lourenço</h4>
                                      <h4 class="subheading">Servidor</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p class="text-muted">
                                        Servidor público há 3 anos do Tribunal de Justiça. Formado em Sistemas de Informação e Redes de Computadores. Especialista em Análise, Gerência e Projeto de Sistema. Atualmente trabalha com Administração de Dados.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="line"></div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="images/fotosg.jpg" alt="">
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 style="color:white">Simão Gurgel</h4>
                                      <h4 class="subheading">Servidor</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="line"></div>
                                </li>
                                <li>
                                  <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="images/fotorg.png" alt="">
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 style="color:white">Ricardo Vasconcelos</h4>
                                      <h4 class="subheading">Servidor</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                      </p>
                                    </div>
                                  </div>
                                <div class="line"></div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="images/fotoca.jpg" alt="">
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 style="color:white">Carlos Adolfo</h4>
                                      <h4 class="subheading">Servidor</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                      </p>
                                    </div>
                                  </div>
                                <div class="line"></div>
                               </li>
                               <li>
                                  <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="images/fotohz.png" alt="">
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 style="color:white">Hertz Gomes</h4>
                                      <h4 class="subheading">Servidor</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p class="text-muted">
                                        Analista Judiciário - Técnico-Administrativo - Ciência da Computação. Ocupando cargo de Diretor da Divisão de Sistemas Administrativos.
                                      </p>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                    </section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Com o Meta Dashboard</h2>
								<p>Reduza custos, aumente a eficiência e a produtividade, e limite as ameaças.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Acessar</a></li>
								<li><a href="#" class="button fit">Saiba Mais</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Meta</li><li>Design: <a href="#">equipe de Administração de Dados - SETIN/TJCE</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
	</body>
</html>
